.form-cliente {
    padding-bottom: 60px; /* Altura del footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  input {

    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px; /* Cambia el tamaño de letra */
  }

  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px; /* Baja el botón */
    font-size: 16px; /* Cambia el tamaño de letra del botón */
    text-align: center;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }