.hero {
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;

}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333; /* Texto oscuro */
}

.hero p {
  font-size: 1.2em;
  color: #555; /* Texto un poco más oscuro */
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #007bff; /* Azul */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el ratón sobre el botón */
}
