.car-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px; /* Puedes ajustar el ancho según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Estilo para el título del coche */
  .car-card h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  /* Estilo para la información de pasajeros y maletas */
  .car-card p {
    color: #666;
    font-size: 1em;
    margin: 8px 0;
  }

  .reserva-card h5 {
    margin: 8px 0;
    color: #333;
    font-size: 1em;
  }

  .eliminarAuto {
    margin-top: 10px; /* Espaciado entre los botones y el contenido anterior */
    margin-right: 10px; 
    padding: 7px 10px;
    background-color:firebrick;
    color: black
  }

  .editarAuto {
    display: inline-block;
    padding: 7px 10px;
    background-color: goldenrod; /* Cambia el color de fondo a amarillo */
    color: #000; /* Cambia el color del texto si es necesario */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
  }
  
  .editarAuto:hover {
    background-color: darkgoldenrod; /* Cambia el color de fondo al pasar el ratón por encima */
  }

  .eliminarAuto:hover{
    background-color: darkred;
  }